*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

.main{
    height: 100vh;
    background: black url("img/bg-new.png") no-repeat center;
    background-size: cover;
}

.header{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.header img{
    width: 300px;
    position: absolute;
    right: 0;
    bottom: -200px;
}
.nav{
    overflow: hidden;
    padding: 10px 0;
    margin: 0 -15px;
}

.nav ul li{
    float: left;
    /*display: inline-block;*/
    margin: 0 15px;
    list-style-type: none;
}

.nav ul li a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.header h1{
    color: white;
    font-weight: 300;
}

.header-content-top{
    line-height: 45px;
    margin-top: 150px;
    margin-bottom: 40px;
}

.btn{
    border: 1px solid #C0C0C0;
    color: #C0C0C0;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    display: inline-block;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F7931D;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.container .card{
    display:inline-block;
    width: calc(100%/4);
    text-align: center;
    color: white;
    padding: 0 15px;
    box-sizing: border-box;
    vertical-align: top;
}

.card img {
    margin-bottom: 12px;
}

.card h3 {
    margin-bottom: 13px;
}
